* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    margin: 4rem;
}

.container-filho {}

.container-filho input {
    outline: none;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn {
    cursor: pointer;
    font-weight: bold;
}